* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MARK: Custom properties */
:root {
    --background-color-1:#B3D686;
    --background-color-2:#F8F39B;
    --background-color-3:#D4C8E2;
    --background-color-4:#02ADE6;
    --background-color-5:#fdfdfd;
    --background-color-6:#353434;
    --background-color-7:#ececec;
    
    --text-color-1:#fff;
    --text-color-2:#000;
    --text-color-3:#009245;
    
    --font-size-xl: 2.5rem;
    --font-size-l: 2rem;
    --font-size-m: 1.5rem;
    --font-size-sm: 1.3rem;
    --font-size-s: 1.12rem;
    --font-size-xs: 1rem;
}

@font-face {
    font-family: Sansita;
    src: url(assets/Sansita-Regular.ttf)
}

/* MARK: Body */
body {  
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    /* MARK: Main */
    main {
        display: flex;
        justify-content: center;
        width: 100%;

        /* MARK: Hele card */
        .card {
            display: flex;
            flex-direction: column;
            width: 350px;
            background-color: var(--background-color-2);
            gap: 1rem;
            border-radius: 10px;

            /* Binnencard card (Dit gaat de card laten draaien) */
            .inner-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                width: 100%;

                /* Voorkant van de card */
                .front-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .plant-name {
                        font-family: Sansita;
                    }

                    img {
                        border-radius: 10px;
                    }
                }

                /* Achterkant van de card die alle info over de plant laat zien */
                .back-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        
        .nav-bar {
            .nav-list {
                display: flex;
                justify-content: center;
                gap: 3rem;
                
                li {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    padding-bottom: 0.5rem;

                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-decoration: none;
                        color: var(--text-color-2);
                        font-family: Sansita;
                        transition: 0.2s ease-in-out;
                        
                    }

                    a svg path {
                        transition: 0.2s ease-in-out;
                    }

                    a:hover svg path {
                        color: var(--text-color-3);
                        fill: var(--text-color-3);
                    }

                    a:hover {
                        color: var(--text-color-3);
                    }
                }
            }
        }
    }
}